.NavBar {
    top: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    width: 50%;
    background: #212121;
    z-index: -1;
    transform: translateX(100%);
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
    @media (max-width: 575.98px) {
        width: 100%;
    }
}

.nav-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.nav-item {
    opacity: 0;
    transition: 1s opacity ease-in-out;
    transition-delay: var(--delay-out);
}

.nav-item+.nav-item {
    margin-top: 30px;
}

.nav-link {
    font-size: 2.5rem;
    color: map-get($color, x-white);
    position: relative;
    padding-left: 122px;
    &:after {
        content: "";
        top: 50%;
        height: 1px;
        width: 86px;
        position: absolute;
        left: 0;
        background: rgba($color: #707070, $alpha: 0.5);
        border-radius: 25px;
        transition: 0.3s all ease-in-out;
    }
    @media (min-width: 1025px) {
        transition: all 0.3s ease-in-out;
        &:hover {
            padding-left: 170px;
            font-family: SVN--Bold;
            &:after {
                width: 130px;
            }
        }
    }
}

.d-n {
    display: none !important;
}

.isSubMenu {
    @media (min-width: 1025px) {
        &:hover {
            >.nav-list {
                height: 100%;
                transform: scaleY(1);
                transform-origin: top;
                transition: all .5s ease-in-out;
                .nav-item {
                    margin-top: 30px;
                    transition: all .5s ease-in-out;
                }
            }
        }
    }
    >.nav-list {
        @media (min-width: 1025px) {
            height: 0;
            transform: scaleY(0);
            transform-origin: top;
            transition: all .5s ease-in-out;
        }
    }
    >.nav-link {
        transition: all .5s ease-in-out;
        &::after {
            content: "";
        }
    }
    .nav-list {
        transition: all .5s ease-in-out;
        padding-left: 170px;
        .nav-item {
            transition: all .5s ease-in-out;
            @media (max-width: 1024.98px) {
                margin-top: 30px;
            }
        }
        .nav-link {
            transition: all 1s ease-in-out;
            padding-left: unset;
            &::after {
                content: none;
            }
        }
    }
}