section.contact
    .container
        .main-title.ta-c
            h2.cl-main-1.text-uppercase LIÊN HỆ
        .row
            .col-6
                .introMap__list
                    ul
                        li(data-lat="10.760699", data-lng="106.693148")
                            h6 KPY Building Trading Ltd.,
                            .location
                                | 30A Đường Hồ Hảo Hớn, Phường Cô Giang, Quận 1, TP.HCM
                            .row.info
                                a(href="tel:02822467675").phone.col-4
                                    | 028 2246 7675
                                a(href="mailto:kpy.noithat@gmail.com").email.col-8
                                    | kpy.noithat@gmail.com
                #map
            .col-6.form
                .description
                    h6 Liên hệ với chúng tôi:
                    p Nếu bạn có bất kỳ câu hỏi nào hoặc cần biết thêm về dịch vụ của chúng tôi, vui lòng điền vào mẫu bên dưới. Chúng tôi sẽ liên hệ để giải đáp ngay!
                .container
                    form(action="")
                        .form-group
                            input(type="text", name="name", placeholder = "Tên*")
                            input(type="text", name="phone", placeholder = "Số điện thoại")
                        .form-group
                            input(type="text", name="email", placeholder = "Email*")
                            input(type="text", name="company", placeholder = "Công ty")
                        .form-group
                            .content-input
                                textarea(name="content", rows="5", placeholder = "Lời nhắn")
                            .btn
                                span Liên hệ
                                img(src="./assets/icons/arrow-btn-submit.svg", alt="button submit")
