section.galleries-video
	.container
		.container-custom.size-1365px
			.galleries-image__wrapper.galleries-document__wrapper
				.main-title.ta-c.wow.fadeInUp(data-wow-delay=".2s")
					h2.cl-main-1.text-uppercase Thư Viện
				ul.gallery--tab.wow.fadeInUp(data-wow-delay=".2s")
					li.item.btn
						a(href="galleries-image.html") Hình ảnh
					li.item.btn
						a(href="galleries-video.html") Video
					li.item.btn
						a(href="galleries-document.html") Tài Liệu
				.document-content
					-for(var i = 1 ; i < 4 ;i++)
						.item-document.wow.bounceInUp(data-wow-delay=".2s")
							.img
								img.object-cover(src="./assets/images/gallery/video/item.png", alt="document")
							.desc
								h2 Hồ sơ năng lực KPY
								.see-and-dow
									span 
										a(href="https://drive.google.com/file/d/1iiZAqKNcrKq3VGdNyCODHug3YAe48cYN/edit" target="_blank") Xem Tài Liệu
									span 
										a(href="https://drive.google.com/u/0/uc?id=1iiZAqKNcrKq3VGdNyCODHug3YAe48cYN&export=download" download) Tải PDF
							//Place for BE
							.d-none
								.wrapper
									-for(var j = 1; j< 4; j++)
										.swiper-slide
											img.object-cover.fullsize(src="./assets/images/gallery/video/pop-up-document.png", alt="document")
				.d-none
					#pop-up--document
						.swiper-document-gallery
							.swiper-container
								.swiper-wrapper
									-for(var i = 1; i< 4; i++)
										.swiper-slide
											.img
												img.object-cover(src="./assets/images/gallery/video/pop-up-document.png", alt="document")
							.desc
								h2 Hồ sơ năng lực KPY
								span
									a(href) Tải PDF
								.list-button-relate-news
									.relate-prev-slider
										.btn.btn-prev-text Sau
									.relate-next-slider
										.btn.btn-next-text Trước
				include ../_layout/_pagination
