section.index-projects.about-project
	.index-projects-wrapper.about-project__wrapper
		.categories-projects-wrapper.container
			.container-custom.size-1365px.h-100
				.categories-projects
					.main-title--small.wow.fadeInDown
						h2 Giá trị cốt lõi
					.value-item.wow.fadeInLeft(data-wow-delay=".2s")
						.icon-value(text-inside-before="K")
							img.svg(src="./assets/icons/value-1.svg", alt="CORE-VALUE")
						.text
							h3.lcl.lcl-1
								span K
								| ey
							p.lcl.lcl-2 Luôn đổ mới sáng tạo là chìa khoá thành công của chúng tôi.
					.value-item.wow.fadeInLeft(data-wow-delay=".4s")
						.icon-value(text-inside-before="P")
							img.svg(src="./assets/icons/value-2.svg", alt="CORE-VALUE")
						.text
							h3.lcl.lcl-1
								span P
								| rofessional
							p.lcl.lcl-2 Luôn đổ mới sáng tạo là chìa khoá thành công của chúng tôi.
					.value-item.wow.fadeInLeft(data-wow-delay=".6s")
						.icon-value(text-inside-before="Y")
							img.svg(src="./assets/icons/value-3.svg", alt="CORE-VALUE")
						.text
							h3.lcl.lcl-1
								span Y
								| outh
							p.lcl.lcl-2 Luôn đổ mới sáng tạo là chìa khoá thành công của chúng tôi.
		.slider-index-projects.slider-about-project
			.slider-index-projects-review
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.bock-item-style-1
								.item__img.ov-h
									img.fullsize.object-cover(src="./assets/images/index-projects/1.png", alt="")
						.swiper-slide
							.bock-item-style-1
								.item__img.ov-h
									img.fullsize.object-cover(src="./assets/images/index-projects/2.png", alt="")
						.swiper-slide
							.bock-item-style-1
								.item__img.ov-h
									img.fullsize.object-cover(src="./assets/images/index-projects/3.png", alt="")