section.about-procedure
	.container
		.container-custom.size-1365px
			.about-procedure__wrapper
				.main-title.ta-c.wow.fadeInUp(data-wow-delay=".02s")
					h2.cl-main-1.text-uppercase(text-inside-before="7 step") Quy Trình 7 Bước
				.step-diagram.wow.fadeInUp
					.item.wow.fadeInUp(data-wow-delay=".03s")
						.item__wrapper
							.step Khảo sát hiện trạng
								|
								span 1
					.item.wow.fadeInUp(data-wow-delay=".04s")
						.item__wrapper
							.step Khảo sát hiện trạng
								|
								span 2
					.item.wow.fadeInUp(data-wow-delay=".05s")
						.item__wrapper
							.step Khảo sát hiện trạng
								|
								span 3
					.item.wow.fadeInUp(data-wow-delay=".06s")
						.item__wrapper
							.step Khảo sát hiện trạng
								|
								span 4
					.item.wow.fadeInUp(data-wow-delay=".07s")
						.item__wrapper
							.step Khảo sát hiện trạng
								|
								span 5
					.item.wow.fadeInUp(data-wow-delay=".08s")
						.item__wrapper
							.step Khảo sát hiện trạng
								|
								span 6
					.item.wow.fadeInUp(data-wow-delay=".09s")
						.item__wrapper
							.step Khảo sát hiện trạng
								|
								span 7