section.about-procedure.about-oganization
	.container
		.container-custom.size-1365px
			.about-procedure__wrapper.about-organization__wrapper
				.main-title.ta-c.wow.fadeInUp(data-wow-delay=".2s")
					h2.cl-main-1.text-uppercase(text-inside-before="organization") Sơ Đồ Tổ Chức
				.content
					figure.org-chart.ta-c
						.board
							ul.columnThree.wow.fadeInUp(data-wow-delay=".2s")
								li.opacity-0.btn
									span dum text
								li.btn
									span Chủ tịch
										|
										br
										| HỘI ĐỒNG QUẢN TRỊ
									
								li.btn
									span Hội đồng thành viên
							ul.columnOne.wow.fadeInUp(data-wow-delay=".4s")
								li.btn
									span Tổng Giám đốc
							ul.columFour.wow.fadeInUp(data-wow-delay=".6s")
								li.btn
									span Giám đốc xưởng gỗ
								li.btn
									span Giám đốc thi công
								li.btn
									span Giám đốc thiết kế
								li.btn
									span Giám đốc kinh doanh
							ul.columFour.sub-column.wow.fadeInUp(data-wow-delay=".8s")
								li.btn
									span Giám đốc phân xưởng
								li.btn
									span Giám sát thi công
								li.btn
									span Kiến trúc sư
								li.btn
									span Trưởng phòng
										|
										br
										| Hành chính - nhân sự
							ul.columFour.sub-column.wow.fadeInUp(data-wow-delay="1s")
								li.btn
									span Tổ trưởng chuyên mộc
								li.btn
									span Tổ xây dựng cơ bản
								li.btn
									span Designer
								li.btn
									span Trưởng phòng mua hàng
							ul.columFour.sub-column.wow.fadeInUp(data-wow-delay="1.2s")
								li.btn
									span Tổ trưởng chuyên sơn
								li.btn
									span Tổ điện
								li.btn
									span Họa viên
								li.btn
									span Trưởng phòng kế toán
							ul.columFour.sub-column.wow.fadeInUp(data-wow-delay="1.4s")
								li.btn
									span Tổ trưởng KCS
								li.btn
									span Tổ hoàn thiện
								li.btn.opacity-0
									span Position hey
								li.btn.opacity-0
									span Position hey