section.about-procedure.about-oganization
	.container
		.container-custom.size-1365px
			.about-procedure__wrapper.about-organization__wrapper
				.main-title.ta-c.wow.fadeInUp(data-wow-delay=".2s")
					h2.cl-main-1.text-uppercase(text-inside-before="organization") Sơ Đồ Tổ Chức
				.content
					figure.org-chart.ta-c
						.board
							ul.columnThree.wow.fadeInUp(data-wow-delay=".2s")
								li.opacity-0.btn
									span dum text
								li.btn
									span Position Name
									
								li.btn
									span Position Name
									
							ul.columnOne.wow.fadeInUp(data-wow-delay=".4s")
								li.btn
									span Position Name
							ul.columFour.wow.fadeInUp(data-wow-delay=".6s")
								li.btn
									span Position hey
								li.btn
									span Position hey
								li.btn
									span Position hey
								li.btn
									span Position hey
							ul.columFour.sub-column.wow.fadeInUp(data-wow-delay=".8s")
								li.btn
									span Position hey
								li.btn
									span Position hey
								li.btn
									span Position hey
								li.btn
									span Position hey
							ul.columFour.sub-column.wow.fadeInUp(data-wow-delay="1s")
								li.btn
									span Position hey
								li.btn
									span Position hey
								li.btn
									span Position hey
								li.btn
									span Position hey
							ul.columFour.sub-column.wow.fadeInUp(data-wow-delay="1.2s")
								li.btn
									span Position hey
								li.btn
									span Position hey
								li.btn
									span Position hey
								li.btn
									span Position hey
							ul.columFour.sub-column.wow.fadeInUp(data-wow-delay="1.4s")
								li.btn
									span Position hey
								li.btn
									span Position hey
								li.btn.opacity-0
									span Position hey
								li.btn.opacity-0
									span Position hey