section.about-client
	.container
		.container-custom.size-1365px
			.about-client__wrapper.about-procedure__wrapper
				.main-title.ta-c.wow.fadeInUp(data-wow-delay=".2s")
					h2.cl-main-1.text-uppercase(text-inside-before="client") Khách Hàng
					.main-title--small.wow.fadeInDown
							h3 Khách hàng chiến lược toàn cầu
				.map__wrapper
					.img
						img.object-cover.fullsize(src="./assets/images/about/map.png", alt="map")
					.blur-item.one
					.blur-item.two
					.blur-item.three
					.blur-item.four
					.blur-item.five
					.blur-item.six
					.blur-item.seven
					.blur-item.eight
					.blur-item.nine.active