section.about-client
	.container
		.container-custom.size-1365px
			.about-client__wrapper.about-procedure__wrapper
				.main-title.ta-c.wow.fadeInUp(data-wow-delay=".2s")
					h2.cl-main-1.text-uppercase(text-inside-before="client") Khách Hàng
				.main-title--small.wow.fadeInDown
					h3 Khách hàng chiến lược toàn cầu
				.map__wrapper
					.img.wow.fadeInUp(data-wow-delay=".5s")
						img(src="./assets/images/about/map.png", alt="map")
					.blur-item.one.wow.fadeInUp(data-wow-delay=".2s")
					.blur-item.two.wow.fadeInUp(data-wow-delay=".2s")
					.blur-item.three.wow.fadeInUp(data-wow-delay=".2s")
					.blur-item.four.wow.fadeInUp(data-wow-delay=".2s")
					.blur-item.five.wow.fadeInUp(data-wow-delay=".2s")
					.blur-item.six.wow.fadeInUp(data-wow-delay=".2s")
					.blur-item.seven.wow.fadeInUp(data-wow-delay=".2s")
					.blur-item.eight.wow.fadeInUp(data-wow-delay=".2s")
					.blur-item.nine.active.wow.fadeInUp(data-wow-delay=".2s")
include ../index/i-9.pug
section.index-projects.about-hot-project.about-procedure
	.container
		.container-custom.size-1365px
			.about-procedure__wrapper
				.main-title.ta-c.wow.fadeInUp(data-wow-delay=".2s")
					h2.cl-main-1.text-uppercase(text-inside-before="Projects") DỰ ÁN TIÊU BIỂU
	.index-projects-wrapper.about-hot-project__wrapper
		.slider-index-projects
			.slider-index-projects-review
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							a(href="").bock-item-style-1
								.item__img.ov-h
									img.fullsize.object-cover(src="./assets/images/index-projects/1.png", alt="")
								.item__desc
									.item__title Dự án  Infinity Blockchain Labs
									.item__subtitle Dự án KPY thiết kế nội thất
						.swiper-slide
							a(href="").bock-item-style-1
								.item__img.ov-h
									img.fullsize.object-cover(src="./assets/images/index-projects/2.png", alt="")
								.item__desc
									.item__title Dự án  Infinity Blockchain Labs
									.item__subtitle Dự án KPY thiết kế nội thất
						.swiper-slide
							a(href="").bock-item-style-1
								.item__img.ov-h
									img.fullsize.object-cover(src="./assets/images/index-projects/3.png", alt="")
								.item__desc
									.item__title Dự án  Infinity Blockchain Labs
									.item__subtitle Dự án KPY thiết kế nội thất
			.list-buttons-index-projects
				.index-projects-prev-slider
					.btn.btn-prev-text Sau
				.index-projects-next-slider
					.btn.btn-next-text Trước
	.explorer
		.ta-c
			a(href="#").btn.btn-view-more Khám phá