footer
	.container
		.container-custom.size-1365px
			.row.ai-c
				.col-lg-8.col-md-6
					.d-flex.ci-e
						a(href="#").logo-foter
							img(src="./assets/logo.png", alt="")
						.list-social
							a(href="#").item-social
								img.svg(src="./assets/icons/facebook.svg", alt="FACEBOOK")
							a(href="#").item-social
								img.svg(src="./assets/icons/instagram.svg", alt="INSTAGRAM")
							a(href="#").item-social
								img.svg(src="./assets/icons/youtube.svg", alt="YOUTUBE")
				.col-lg-4.col-md-6
					.copy-right.ta-r Copyright © 2020 by KPY. Designed by Braney