header
	.container.h-100
		.row.no-gutters.h-100.ai-c
			a(href="#").logo__header
				img.lazyload.blur-up(data-src="./assets/logo.png", alt="LOGO")
			.navBarHamburger__mainWrapper.ml-auto
				span.navBarHamburger__strokeElement
				span.navBarHamburger__strokeElement
				span.navBarHamburger__strokeElement
	section.NavBar.NavBar-Animation
		.nav-wrapper
			.nav-list
				.nav-item
					a.nav-link(href="#") Giới thiệu
				.nav-item
					a.nav-link(href="#") Dịch vụ
				.nav-item
					a.nav-link(href="#") Dự án
				.nav-item
					a.nav-link(href="#") Tin tức
				.nav-item
					a.nav-link(href="#") Thư viện
				.nav-item
					a.nav-link(href="#") Liên hệ