block var

doctype html

html(lang="en")
	head
		title #{title}
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel='shortcut icon', type='image/png', href='/favicon/favicon.ico')
		link(rel="stylesheet", href="./css/core.min.css")
		link(rel="stylesheet", href="./css/main.min.css")
	body
		block loading
		block header
			include _header
		section.App-Animation
			block banner,breadcrumb
			main
				block main
				#js-page-verify(class=bodyClass hidden)
			block footer
				include _footer
		script(type="text/javascript", src="./js/core.min.js")
		script(type="text/javascript", src="./js/main.min.js")
		block scripts