.main-slider-banner
	.swiper-container.h-100vh
		.swiper-wrapper
			-for(i=1;i<4;i++)
				.swiper-slide.item-banner
					.banner__img.ov-h.h-100
						img.object-cover.fullsize(src=`./assets/images/banners/main-slider-banner-${i}.png`, alt="BANNER")
		.pagination-wrapper
			.container.h-100
				.swiper-pagination
	.banner__text
		.text.wow.bounceInLeft(data-wow-delay="500ms")
			.text__wrapper
				.title.cl-white.wow.bounceInLeft(data-wow-delay="600ms") The Customer’s
				.title.cl-white.font-family-SVNBOLD.wow.bounceInLeft(data-wow-delay="700ms") first choice
				.desc Welcome to KPY Building Trading Ltd.,
				.btn.btn-view-more Khám phá
	.socials__wrapper
		.container
			.row.no-gutters.justify-end
				.list-social
					a(href="#" data-wow-delay="500ms").item-social.wow.bounceInLeft
						img.svg(src="./assets/icons/facebook.svg", alt="FACEBOOK")
					a(href="#" data-wow-delay="600ms").item-social.wow.bounceInLeft
						img.svg(src="./assets/icons/instagram.svg", alt="INSTAGRAM")
					a(href="#" data-wow-delay="700ms").item-social.wow.bounceInLeft
						img.svg(src="./assets/icons/youtube.svg", alt="YOUTUBE")