.galleries-video__wrapper {
	.item-image {
		&::before {
			background: url("../assets/icons/video-camera.png") no-repeat;
			background-size: 100% 100%;
			width: 31px;
			height: 18px;
		}
		@media (max-width: 767.98px) {
			-ms-flex: 0 0 50%;
			flex: 0 0 50%;
			max-width: 50%;
		}
	}
}