section.service {
    margin-bottom: 20rem;
    @media (max-width: 767.98px) {
        margin-bottom: 5rem;
    }
    ._with-service {
    
        position: relative;
        .bock-item-style-1 {
            height: 380px;
            @media (max-width: 767.98px) {
                height: 300px;
            }
        }
        &.custom {
            .item__desc {
                width: 100%;
            }
        }
        .swiper-slide {
            .bock-item-style-1 {
                transition: all 1s ease-in-out;
                margin-bottom: 0;
                transform: scale(.8);
            }
            opacity: 50%;
            .item__img {
                transition: all 1s ease-in-out;
                &::after {
                    background: rgba(47,47,47,.6);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    mix-blend-mode: multiply;
                    content: "";
                    transition: .3s opacity ease-in-out;
                }
            }
            .item__desc {
                display: none;
            }
        }
        .swiper-slide-next,
        .swiper-slide-prev {
            .bock-item-style-1 {
                transition: all 1s ease-in-out;
                margin-bottom: 0;
                transform: scale(1);
            }
            opacity: 1;
            .item__img {
                transition: all 1s ease-in-out;
                height: 100%;
                &::after {
                    content: none;
                }
            }
            .item__desc {
                display: flex;
            }
        }
        .swiper-slide-active {
            opacity: 1;
            .bock-item-style-1 {
                transition: all 1s ease-in-out;
                margin-bottom: 0;
                transform: scale(1);
            }
            .item__img {
                height: 100%;
                &::after {
                    content: none;
                }
            }
            .item__desc {
                display: flex;
            }
        }
    }
    .relate-prev-slider {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 30px;
        z-index: 111;
        @media (max-width: 1024px) {
            top: 97%;
            left: 30%;
        }
        @media (max-width: 575.98px) {
            top: 96%;
            left: 10%;
        }
    }
    .relate-next-slider {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 30px;
        z-index: 111;
        @media (max-width: 1024px) {
            top: 97%;
            right: 30%;
        }
        @media (max-width: 575.98px) {
            top: 96%;
            right: 10%;
        }
    }
    .ta-c {
        margin-top: 5rem;
    }
    .offer__wrapper {
        margin-bottom: 0;
    }
}
.Service {
    .main-title {
        h2 {
            @media (max-width: 767.98px) {
                padding-top: 3rem;
            }
        }
    }
    .index-service-wrapper {
        padding: 0;
        margin-bottom: 5rem;
    }
    .item__desc {
        @media (max-width: 575.98px) {
            padding: 15px !important;
        }
    }
}
.pd-5 {
    padding-bottom: 50px;
    @media (max-width: 1024.98px) {
        padding-bottom: 25px;
    }
}

.slider-service {
    .swiper-slide-prev {
        pointer-events: none;
    }
    .swiper-slide-next {
        pointer-events: none;
        z-index: -1;
    }
    .list-button-relate-news {
        .relate-prev-slider {
            position: absolute;
            top: 83%;
            transform: translateY(-50%);
            left: 15%;
            z-index: 111;
            @media (max-width: 1024px) {
                top: 97%;
                left: 30%;
            }
            @media (max-width:575.98px) {
                left: 10%;
            }
        }
        .relate-next-slider {
            position: absolute;
            top: 83%;
            transform: translateY(-50%);
            right: 15%;
            z-index: 111;
            @media (max-width: 1024px) {
                top: 97%;
                right: 30%;
            }
            @media (max-width:575.98px) {
                right: 10%;
            }
        }
    }
    .getLinkService {
        margin-top: 5rem;
    }
    .swiper-slide {
        ._with-project {
            transform: scale(.4);
            transition: 0.5s transform ease-in-out;
            .item__subtitle {
                overflow: hidden;
                -o-text-overflow: ellipsis;
                display: -webkit-box;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                font-size: 22px !important;
            }
            .item__title {
                font-size: 30px !important;
            }
            .item__desc {
                // opacity: 0;
                .item__title {
                    color: white !important;
                }
            }
        }
    }
    .swiper-slide-active {
        ._with-project {
            transform: scale(1);
            transition: 0.5s transform ease-in-out;
            .ta-c {
                opacity: 1;
                margin-top: 20px;
            }
            .item__img {
                &::after {
                    content: none;
                }
                height: 438px;
                @media (max-width: 575.98px) {
                    height: 370px;
                }
            }
            .item__title {
                font-size: 20px !important;
            }
            .item__subtitle {
                font-size: 17px !important;
            }
            .item__desc {
                padding: 40px;
                &::after {
                    background-blend-mode: multiply;
                    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 44%);
                }
                opacity: 1;
                .item__title {
                    color: map-get($color, main-1) !important;
                }
            }
        }
    }
    ._with-project {
        position: relative;
        .item__desc {
            position: absolute;
            z-index: 1;
            bottom: 15%;
            left: 0;
            width: 70%;
            padding: 20px 15px;
            transition: 0.35s left linear;
            &:after {
                content: "";
                width: 100%;
                height: 100%;
                background: rgba($color: #2f2f2f, $alpha: 0.8);
                mix-blend-mode: multiply;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
            .item__title {
                font-size: 2rem;
                @media (max-width: 1024.98px) {
                    font-size: 1.8rem;
                }
                @media (max-width: 575.98px) {
                    font-size: 1.6rem;
                }
            }
            .item__subtitle {
                font-size: 1.7rem;
                @media (max-width: 575.98px) {
                    font-size: 1.4rem;
                }
            }
            .item__title,
            .item__subtitle {
                position: relative;
                z-index: 10;
            }
            .item__title {
                font-family: SVN--Bold;
            }
            @media (max-width: 575.98px) {
                width: 100%;
            }
        }
        position: relative;
        width: 100%;
        .bock-item-style-1 {
            .item__img {
                &:after {
                    background: rgba($color: #2f2f2f, $alpha: 0.6);
                }
            }
        }
    }
}

.relate-service {
    .rS__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1.375rem;
        .rS__item {
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
            position: relative;
            padding: 0 1.375rem;
            margin-bottom: 2.75rem;
            @media (max-width: 767.98px) {
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
                margin-bottom: 1.75rem;
            }
            @media (min-width: 1200px) {
                &:hover {
                    .rS__item--content--inner {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100%;
                        transition: width 500ms;
                    }
                }
            }
            .rS__item--img {
                width: 100%;
                height: 186px;
                box-shadow: 3px 3px 10px rgba($color: #000000, $alpha: 38%);
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .rS__item--content {
                position: absolute;
                width: calc(100% - 2.5rem);
                height: 100%;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                .rS__item--content--inner {
                    padding: 22px 69px;
                    background: #2f2f2fb6;
                    box-shadow: 3px 3px 10px rgba($color: #000000, $alpha: 38%);
                }
                .rS__item--content-sub-title {
                    font-family: SVN--Light;
                    color: white;
                    @media (max-width: 575.98px) {
                        font-size: 10px;
                    }
                }
                .rS__item--content-title {
                    font-family: SVN--Bold;
                    color: white;
                    font-size: 25px;
                    @media (max-width: 950.98px) {
                        font-size: 18px;
                    }
                    @media (max-width: 575.98px) {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.mt-3 {
    margin-top: 30px;
}