section.galleries-video
	.container
		.container-custom.size-1365px
			.galleries-image__wrapper.galleries-video__wrapper
				.main-title.ta-c.wow.fadeInUp(data-wow-delay=".2s")
					h2.cl-main-1.text-uppercase Thư Viện
				ul.gallery--tab.wow.fadeInUp(data-wow-delay=".2s")
					li.item.btn
						a(href="galleries-image.html") Hình ảnh
					li.item.btn
						a(href="galleries-video.html") Video
					li.item.btn
						a(href="galleries-document.html") Tài Liệu
				.gallery--content
					.list-gallery.row
						-for(var j = 1; j < 10; j++)
							.item-image.col-lg-4.col-sm-6.isVideo.wow.bounceInUp(data-wow-delay=".2s" ,data-fancybox href="https://www.youtube.com/watch?v=dLWB0twXAl8&ab_channel=b%E1%BA%A5t%C4%91%E1%BB%99ngs%E1%BA%A3ntp")
								.img
									img.object-cover(src=`./assets/images/gallery/image/item-${j}.png`, alt="something")
				include ../_layout/_pagination
