section.news.Project
	.container
		.container-custom.size-1365px
			.news__wrapper
				.main-title.ta-c
					h2.cl-main-1.text-uppercase DỰ ÁN
				.tab-news.active-tab
					a(href="").btn.activity-news Thiết kế & thi công nội thất
					a(href="").btn.activity-news Thiết kế kiến trúc
				.project__showroom
					.main-title--small.wow.bounceInLeft(data-wow-delay="500ms")
						h2 Văn phòng - Showroom
					.slider-project-showroom.wow.bounceInLeft(data-wow-delay="1s")
						.swiper-container
							.swiper-wrapper.ai-c
								.swiper-slide
									a.bock-item-style-1(href="project-detail.html")
										.item__img.ov-h
											img.fullsize.object-cover(src="./assets/images/index-service/1.png", alt="")
										.item__desc
											.item__title 1Pac Office
											.item__subtitle Thiết kế và thi công
								.swiper-slide
									.bock-item-style-1
										.item__img.ov-hs
											img.fullsize.object-cover(src="./assets/images/index-service/2.png", alt="")
										.item__desc
											.item__title IBL Office
											.item__subtitle Thiết kế và thi công
								.swiper-slide
									.bock-item-style-1
										.item__img.ov-h
											img.fullsize.object-cover(src="./assets/images/index-service/3.png", alt="")
										.item__desc
											.item__title Hometec Office 
											.item__subtitle Thiết kế và thi công
						.index-service-prev-slider
							.btn.btn-prev-text Sau
						.index-service-next-slider
							.btn.btn-next-text Trước
				.project__hotel
					.main-title--small.wow.bounceInRight(data-wow-delay="500ms")
						h2 Khách sạn - Nghĩ dưỡng
					.relate-hotel.offer__wrapper.wow.bounceInRight(data-wow-delay="1000ms")
						.swiper-container
							.swiper-wrapper
								-for(var i = 1; i <=3; i++)
									.swiper-slide
										.bock-item-style-1
											.item__img.ov-h
												img.fullsize.object-cover(src=`./assets/images/news-detail/relate-${i}.png`, alt="relate New")
											.item__desc
												.item__title.lcl.lcl-1 Kim Do Hotel
												.item__subtitle.lcl.lcl-1 Thiết kế và thi công
						.list-button-relate-news
							.hotel-prev-slider
								.btn.btn-prev-text Sau
							.hotel-next-slider
								.btn.btn-next-text Trước
				.project__restaurant
					.main-title--small.wow.bounceInUp
						h2 Nhà hàng
					.relate-restaurant.offer__wrapper.wow.bounceInUp(data-wow-duration="1s")
						.swiper-container
							.swiper-wrapper
								-for(var i = 1; i <=3; i++)
									.swiper-slide
										.bock-item-style-1
											.item__img.ov-h
												img.fullsize.object-cover(src=`./assets/images/news-detail/relate-${i}.png`, alt="relate New")
											.item__desc
												.item__title.lcl.lcl-1 Maru Restaurant
												.item__subtitle.lcl.lcl-1 Thiết kế và thi công
						.list-button-relate-news
							.restaurant-prev-slider
								.btn.btn-prev-text Sau
							.restaurant-next-slider
								.btn.btn-next-text Trước
				.project__lasvegas
					.main-title--small.wow.bounceInUp(data-wow-delay="1.5s" data-wow-duration="1s")
						h2 Biệt thự - Căn hộ cao cấp
					.relate-lasvegas.offer__wrapper.wow.bounceInUp(data-wow-delay="1s" data-wow-duration=".8s")
						.swiper-container
							.swiper-wrapper
								-for(var i = 1; i <=3; i++)
									.swiper-slide
										.bock-item-style-1
											.item__img.ov-h
												img.fullsize.object-cover(src=`./assets/images/news-detail/relate-${i}.png`, alt="relate New")
											.item__desc
												.item__title.lcl.lcl-1 Căn hộ Lasvegas
												.item__subtitle.lcl.lcl-1 Thiết kế và thi công
						.list-button-relate-news
							.lasvegas-prev-slider
								.btn.btn-prev-text Sau
							.lasvegas-next-slider
								.btn.btn-next-text Trước