extends _templates/_layout/_layout.pug

block var
	- let title = 'Page | Index';
	- let bodyClass = 'index-page';

//- block loading
//- 	include _templates/_layout/_loading
block banner,breadcrumb
	include _templates/_layout/_main-banner
block main
	// INDEX ABOUT
	include _templates/index/i-1
	// INDEX CORE VALUES
	include _templates/index/i-2
	// INDEX SERVICE
	include _templates/index/i-3
	// INDEX PROJECTS
	include _templates/index/i-4
	// INDEX GALLERY
	include _templates/index/i-5
	// INDEX NEWS
	include _templates/index/i-6
	// INDEX CLIENTS
	include _templates/index/i-7
	// INDEX CONTACT
	include _templates/index/i-8
block scripts
