extends _templates/_layout/_layout.pug

block var
	- let title = 'KPY | Service Detail';
	- let bodyClass = 'service-detail-page';

//- block loading
//- 	include _templates/_layout/_loading
block banner,breadcrumb
	include _templates/_layout/_main-banner
block main
	include _templates/service-detail/s-1
block scripts
