section.index-about.ov-h
	.index-about-wrapper
		.slider-index-about
			.swiper-container
				.swiper-wrapper.ai-center
					.swiper-slide
						.img
							img.object-cover.fullsize(src="./assets/images/index-about/1.png", alt="")
					.swiper-slide
						.img
							img.object-cover.fullsize(src="./assets/images/index-about/1.png", alt="")
					.swiper-slide
						.img
							img.object-cover.fullsize(src="./assets/images/index-about/1.png", alt="")
		.index-about-description.fullsize
			.container.h-100
				.description-wrapper.fullsize
					.main-title.wow.fadeInDown
						h2.cl-main-1.nopd.text-uppercase(text-inside-before="about" text-inside-after="us") giới thiệu
					.list-item-description
						.item-description
							.main-title--small.wow.fadeInLeft
								h2.lcl.lcl-2 Tầm nhìn
							.description.wow.fadeInLeft
								p KPY định hướng phát triển thành một công ty cung cấp giải pháp thiết kế - thi công hoàn thiện nội thất hàng đầu Việt Nam, đưa những giá trị sáng tạo cho mọi không gian, tạo ra những sản phẩm gia tăng giá trị cho cộng đồng và xã hội.
						.item-description
							.main-title--small.wow.fadeInLeft
								h2.lcl.lcl-2 Sứ mệnh
							.description.wow.fadeInLeft
								p Kiến tạo không gian sống, làm việc và kinh doanh theo cách hoàn hảo nhất, vơi chi phí hợp lý nhất.
						.item-description
							.main-title--small.wow.fadeInLeft
								h2.lcl.lcl-2 Mục Tiêu
							.description.wow.fadeInLeft
								ul
									li Năm 2021-2016 doanh thu đạt 50 tỷ/năm, trở thành 1 trong những công ty có tầm ảnh hưởng trong Top 10 những công ty tạo ra giá trị về nội thất hàng đầu thị trường phía nam.
									li Nhân viên có được thu nhập tăng từ 1.5-2 lần hiện tại.
