section.index-about.ov-h
	.index-about-wrapper
		.slider-index-about
			.swiper-container
				.swiper-wrapper.ai-center
					.swiper-slide
						.img
							img.object-cover.fullsize(src="./assets/images/index-about/1.png", alt="")
					.swiper-slide
						.img
							img.object-cover.fullsize(src="./assets/images/index-about/1.png", alt="")
					.swiper-slide
						.img
							img.object-cover.fullsize(src="./assets/images/index-about/1.png", alt="")
		.index-about-description.fullsize
			.container.h-100
				.description-wrapper.fullsize
					.main-title.wow.fadeInDown
						h2.cl-main-1.text-uppercase(text-inside-before="about" text-inside-after="us") giới thiệu
					.list-item-description
						.item-description
							.main-title--small.wow.fadeInLeft
								h2.lcl.lcl-2 Sự lựa chọn hàng đầu
									br
									| của khách hàng
							.description.wow.fadeInLeft
								p KPY Building Trading Ltd., là một công ty xây dựng  và thiết kế nội thất với chuyên môn về khách sạn, thương mại, chăm sóc sức khoẻ, bán lẻ, chuỗi các nhà hàng và dự án văn phòng.
						.item-description
							.main-title--small.wow.fadeInLeft
								h2.lcl.lcl-2 Sứ mệnh
							.description.wow.fadeInLeft
								ul
									li Cam kết nguyện vọng của khách hàng.
									li Giải quyết những thách thức thực tế vơi tính thẩm mỹ và thiết kế đẳng cấp
									li Tôn trọng đạo đức nghề nghiệp
