section.index-core-values
	.container
		.ta-c
			.main-title--small.wow.fadeInDown
				h2 Giá trị cốt lõi
		.container-custom.size-1088px
			.core-values
				.value-item.wow.fadeInLeft(data-wow-delay=".2s")
					.icon-value(text-inside-before="K")
						img.svg(src="./assets/icons/value-1.svg", alt="CORE-VALUE")
					.text.ta-c
						h3.lcl.lcl-1
							span K
							| ey
						p.lcl.lcl-2 Luôn đổ mới sáng tạo là chìa khoá thành công của chúng tôi.
				.value-item.wow.fadeInLeft(data-wow-delay=".4s")
					.icon-value(text-inside-before="P")
						img.svg(src="./assets/icons/value-2.svg", alt="CORE-VALUE")
					.text.ta-c
						h3.lcl.lcl-1
							span P
							| rofessional
						p.lcl.lcl-2 Luôn đổ mới sáng tạo là chìa khoá thành công của chúng tôi.
				.value-item.wow.fadeInLeft(data-wow-delay=".6s")
					.icon-value(text-inside-before="Y")
						img.svg(src="./assets/icons/value-3.svg", alt="CORE-VALUE")
					.text.ta-c
						h3.lcl.lcl-1
							span Y
							| outh
						p.lcl.lcl-2 Luôn đổ mới sáng tạo là chìa khoá thành công của chúng tôi.
		.ta-c.wow.fadeInDown(data-wow-delay=".8s")
			a(href="#").btn.btn-view-more Khám phá