section.index-core-values
	.container.line-left
		.ta-c
			.main-title--small.wow.fadeInDown
				h2 Giá trị cốt lõi
		.container-custom.size-1088px
			.core-values
				.value-item.wow.fadeInLeft(data-wow-delay=".2s")
					.icon-value(text-inside-before="K")
						img.svg(src="./assets/icons/value-1.svg", alt="CORE-VALUE")
					.text.ta-c
						h3.lcl.lcl-1
							span K
							| ey
						p.lcl.lcl-2 Lấy con người làm trung tâm
				.value-item.wow.fadeInLeft(data-wow-delay=".4s")
					.icon-value(text-inside-before="P")
						img.svg(src="./assets/icons/value-2.svg", alt="CORE-VALUE")
					.text.ta-c
						h3.lcl.lcl-1
							span P
							| rofessional
						p Áp dụng các công cụ và phương án thi công tiên tiến nhất trong hoạt động kinh doanh
				.value-item.wow.fadeInLeft(data-wow-delay=".6s")
					.icon-value(text-inside-before="Y")
						img.svg(src="./assets/icons/value-3.svg", alt="CORE-VALUE")
					.text.ta-c
						h3.lcl.lcl-1
							span Y
							| outh
						p Tạo ra những sản phẩm gia tăng giá trị cho cộng đồng và xã hội