section.index-service
	.container
		.index-service-wrapper
			.main-title.ta-c.wow.fadeInUp(data-wow-delay=".2s")
				h2.cl-main-1.text-uppercase(text-inside-before="services") dịch vụ
			.description-title.ta-c.wow.fadeInUp(data-wow-delay=".8s")
				p.ta-c Thiết kế và thi công trọn gói cho mọi dự án bao gồm thiết kế, hoàn thiện nội thất, sản xuất và lắp đặt đồ gỗ nội thất, với các lĩnh vực chính sau:
			.container-custom.size-1088px
				.categories-service-wrapper
					.categories-service.row
						.item-category-service.col-4.ta-c.wow.fadeInUp(data-wow-delay=".2s")
							.category-service__name.ta-c Thiết kế kiến trúc
						.item-category-service.col-4.ta-c.wow.fadeInUp(data-wow-delay=".4s")
							.category-service__name.ta-c Thiết kế nội thất
						.item-category-service.col-4.ta-c.wow.fadeInUp(data-wow-delay=".6s")
							.category-service__name.ta-c Thi công nội thất
		.container-custom.size-1365px
			.slider-index-service
				.swiper-container
					.swiper-wrapper.ai-c
						.swiper-slide
							.bock-item-style-1
								.item__img.ov-h
									img.fullsize.object-cover(src="./assets/images/index-service/1.png", alt="")
								.item__desc
									.item__title Nội thất Văn phòng - Showroom
									.item__subtitle Dự án KPY thiết kế nội thất
						.swiper-slide
							.bock-item-style-1
								.item__img.ov-hs
									img.fullsize.object-cover(src="./assets/images/index-service/2.png", alt="")
								.item__desc
									.item__title Nội thất Văn phòng - Showroom
									.item__subtitle Dự án KPY thiết kế nội thất
						.swiper-slide
							.bock-item-style-1
								.item__img.ov-h
									img.fullsize.object-cover(src="./assets/images/index-service/3.png", alt="")
								.item__desc
									.item__title Nội thất Văn phòng - Showroom
									.item__subtitle Dự án KPY thiết kế nội thất
				.index-service-prev-slider
					.btn.btn-prev-text Sau
				.index-service-next-slider
					.btn.btn-next-text Trước
		.ta-c
			a(href="#").btn.btn-view-more Khám phá