section.index-projects
	.container
		.container-custom.size-1365px
			.main-title.wow.fadeInLeft(data-wow-delay=".2s")
				h2.cl-main-1.text-uppercase(text-inside-before="pro-" text-inside-after="jects") Dự án tiêu biểu
	.index-projects-wrapper
		.categories-projects-wrapper.container
			.container-custom.size-1365px.h-100
				.categories-projects
					.item-category-projects.wow.fadeInDown(data-wow-delay=".2s")
						.category-projects__name Thiết kế kiến trúc
					.item-category-projects.wow.fadeInDown(data-wow-delay=".4s")
						.category-projects__name Thiết kế nội thất
					.item-category-projects.wow.fadeInDown(data-wow-delay=".6s")
						.category-projects__name Thi công nội thất
		.slider-index-projects
			.slider-index-projects-review
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.bock-item-style-1
								.item__img.ov-h
									img.fullsize.object-cover(src="./assets/images/index-projects/1.png", alt="")
								.item__desc
									.item__title Dự án  Infinity Blockchain Labs
									.item__subtitle Dự án KPY thiết kế nội thất
						.swiper-slide
							.bock-item-style-1
								.item__img.ov-h
									img.fullsize.object-cover(src="./assets/images/index-projects/2.png", alt="")
								.item__desc
									.item__title Dự án  Infinity Blockchain Labs
									.item__subtitle Dự án KPY thiết kế nội thất
						.swiper-slide
							.bock-item-style-1
								.item__img.ov-h
									img.fullsize.object-cover(src="./assets/images/index-projects/3.png", alt="")
								.item__desc
									.item__title Dự án  Infinity Blockchain Labs
									.item__subtitle Dự án KPY thiết kế nội thất
					.list-buttons-index-projects
						.index-projects-prev-slider
							.btn.btn-prev-text Sau
						.index-projects-next-slider
							.btn.btn-next-text Trước
			.slider-index-projects-thumb-wrapper
				.slider-index-projects-thumb
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.bock-item-style-1
									.item__img.ov-h
										img.fullsize.object-cover(src="./assets/images/index-projects/1.png", alt="")
							.swiper-slide
								.bock-item-style-1
									.item__img.ov-h
										img.fullsize.object-cover(src="./assets/images/index-projects/2.png", alt="")
							.swiper-slide
								.bock-item-style-1
									.item__img.ov-h
										img.fullsize.object-cover(src="./assets/images/index-projects/3.png", alt="")