section.index-gallery.ov-h
	.container.line-right
		.main-title.ta-c.wow.fadeInDown(data-wow-delay=".2s")
			h2.cl-main-1.text-uppercase(text-inside-before="our gallery") thư viện
	.container-custom.size-1365px
		.slider-index-gallery
			.swiper-container.ov-v
				.swiper-wrapper
					.swiper-slide
						.bock-item-style-1
							.item__img.ov-h
								img.fullsize.object-cover(src="./assets/images/index-garelly/1.png", alt="")
							.item__desc
								.item__title Lorem ipsum
								.item__subtitle Lorem ipsum dolor sit amet
							//place to BE 
							.d-none
								.wrapper
									-for(var i = 1; i < 10; i++)
										.swiper-slide
											.bock-item-style-1
												.item__img.ov-h
													img.fullsize.object-cover(src=`./assets/images/gallery/image/item-${i}.png`, alt="item")
					.swiper-slide
						.bock-item-style-1(data-fancybox href="https://www.youtube.com/watch?v=dLWB0twXAl8&ab_channel=b%E1%BA%A5t%C4%91%E1%BB%99ngs%E1%BA%A3ntp")
							.item__img.ov-h
								img.fullsize.object-cover(src="./assets/images/index-garelly/2.png", alt="")
							.item__desc
								.item__title Lorem ipsum
								.item__subtitle Lorem ipsum dolor sit amet
					.swiper-slide
						.bock-item-style-1
							.item__img.ov-h
								img.fullsize.object-cover(src="./assets/images/index-garelly/3.png", alt="")
							.item__desc
								.item__title Lorem ipsum
								.item__subtitle Lorem ipsum dolor sit amet
							//place to BE 
							.d-none
								.wrapper
									-for(var i = 1; i < 10; i++)
										.swiper-slide
											.bock-item-style-1
												.item__img.ov-h
													img.fullsize.object-cover(src=`./assets/images/gallery/image/item-${i}.png`, alt="item")
					.swiper-slide
						.bock-item-style-1
							.item__img.ov-h
								img.fullsize.object-cover(src="./assets/images/index-garelly/4.png", alt="")
							.item__desc
								.item__title Lorem ipsum
								.item__subtitle Lorem ipsum dolor sit amet
							//place to BE 
							.d-none
								.wrapper
									-for(var i = 1; i < 10; i++)
										.swiper-slide
											.bock-item-style-1
												.item__img.ov-h
													img.fullsize.object-cover(src=`./assets/images/gallery/image/item-${i}.png`, alt="item")
					.swiper-slide
						.bock-item-style-1
							.item__img.ov-h
								img.fullsize.object-cover(src="./assets/images/index-garelly/5.png", alt="")
							.item__desc
								.item__title Lorem ipsum 123
								.item__subtitle Lorem ipsum dolor sit amet
							//place to BE 
							.d-none
								.wrapper
									-for(var i = 1; i < 10; i++)
										.swiper-slide
											.bock-item-style-1
												.item__img.ov-h
													img.fullsize.object-cover(src=`./assets/images/gallery/image/item-${i}.png`, alt="item")
		.d-none
			#pop-up--image
				.slider-image-gallery
					.slider-image-gallery__wrapper
						.swiper-container
							.swiper-wrapper.ai-c
						.desc
							.desc-content
							.list-button-relate-news
								.relate-prev-slider
									.btn.btn-prev-text Sau
								.relate-next-slider
									.btn.btn-next-text Trước
	.container
		.container-custom.size-1365px
			.list-buttons-index-gallery
				.index-gallery-prev-slider
					.btn.btn-prev-text Sau
				.index-gallery-next-slider
					.btn.btn-next-text Trước
				.ta-r
					a(href="#").btn.btn-view-more Khám phá