section.index-gallery.ov-h
	.container
		.main-title.ta-c.wow.fadeInDown(data-wow-delay=".2s")
			h2.cl-main-1.text-uppercase(text-inside-before="our gallery") thư viện
	.container-custom.size-1365px
		.slider-index-gallery
			.swiper-container.ov-v
				.swiper-wrapper
					.swiper-slide
						.bock-item-style-1
							.item__img.ov-h
								img.fullsize.object-cover(src="./assets/images/index-garelly/1.png", alt="")
							.item__desc
								.item__title Lorem ipsum
								.item__subtitle Lorem ipsum dolor sit amet
					.swiper-slide
						.bock-item-style-1.isVideo
							.item__img.ov-h
								img.fullsize.object-cover(src="./assets/images/index-garelly/2.png", alt="")
							.item__desc
								.item__title Lorem ipsum
								.item__subtitle Lorem ipsum dolor sit amet
					.swiper-slide
						.bock-item-style-1
							.item__img.ov-h
								img.fullsize.object-cover(src="./assets/images/index-garelly/3.png", alt="")
							.item__desc
								.item__title Lorem ipsum
								.item__subtitle Lorem ipsum dolor sit amet
					.swiper-slide
						.bock-item-style-1
							.item__img.ov-h
								img.fullsize.object-cover(src="./assets/images/index-garelly/4.png", alt="")
							.item__desc
								.item__title Lorem ipsum
								.item__subtitle Lorem ipsum dolor sit amet
					.swiper-slide
						.bock-item-style-1
							.item__img.ov-h
								img.fullsize.object-cover(src="./assets/images/index-garelly/5.png", alt="")
							.item__desc
								.item__title Lorem ipsum
								.item__subtitle Lorem ipsum dolor sit amet
	.container
		.container-custom.size-1365px
			.list-buttons-index-gallery
				.index-gallery-prev-slider
					.btn.btn-prev-text Sau
				.index-gallery-next-slider
					.btn.btn-next-text Trước
				.ta-r
					a(href="#").btn.btn-view-more Khám phá