.index-news.ov-h
	.container
		.container-custom.size-1365px
			.main-title.ta-r.wow.fadeInRight(data-wow-delay=".2s")
				h2.cl-main-1.text-uppercase(text-inside-before="latest" text-inside-after="news") Tin tức nổi bật
	.slider-index-news-wrapper
		.container
			.container-custom.size-1365px
				.slider-index-news
					.swiper-container.ov-v
						.swiper-wrapper
							.swiper-slide
								.bock-item-style-1.ov-h
									.item__img.ov-h
										img.fullsize.object-cover(src="./assets/images/index-news/1.png", alt="")
									.item__desc
										.item__title Lorem ipsum dolor sit
										.item__subtitle Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor…
							.swiper-slide
								.bock-item-style-1.ov-h
									.item__img.ov-h
										img.fullsize.object-cover(src="./assets/images/index-news/2.png", alt="")
									.item__desc
										.item__title Lorem ipsum dolor sit
										.item__subtitle Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor…
							.swiper-slide
								.bock-item-style-1.ov-h
									.item__img.ov-h
										img.fullsize.object-cover(src="./assets/images/index-news/3.png", alt="")
									.item__desc
										.item__title Lorem ipsum dolor sit
										.item__subtitle Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor…
							.swiper-slide
								.bock-item-style-1.ov-h
									.item__img.ov-h
										img.fullsize.object-cover(src="./assets/images/index-news/4.png", alt="")
									.item__desc
										.item__title Lorem ipsum dolor sit
										.item__subtitle Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor…
				.list-buttons-index-news
					.index-news-prev-slider
						.btn.btn-prev-text Sau
					.index-news-next-slider
						.btn.btn-next-text Trước
					.ta-r
						a(href="#").btn.btn-view-more Khám phá