.index-clients
	.container
		.container-custom.size-1365px
			.main-title.wow.fadeInLeft(data-wow-delay=".2s")
				h2.cl-main-1.text-uppercase(text-inside-before="our" text-inside-after="clients") khách hàng nói gì?
			.slider-index-clients
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.client-wrapper
								.client-quote
									p.lcl.lcl-4 “Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.  Aenean commodo ligula eget dolor. Lorem ipsum aenean massa…”
								.client-info
									.client-img.ov-h
										img.object-cover.fullsize(src="./assets/images/avatar/avatar-default.jpg", alt="CLIENT")
									.client-name
										h5.lcl.lcl-2.cl-main-1 Lorem ipsum dolor
										span.lcl.lcl-4 Lorem ipsum dolor sit amet
						.swiper-slide
							.client-wrapper
								.client-quote
									p.lcl.lcl-4 “Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.  Aenean commodo ligula eget dolor. Lorem ipsum aenean massa…”
								.client-info
									.client-img.ov-h
										img.object-cover.fullsize(src="./assets/images/avatar/avatar-default.jpg", alt="CLIENT")
									.client-name
										h5.lcl.lcl-2.cl-main-1 Lorem ipsum dolor
										span.lcl.lcl-4 Lorem ipsum dolor sit amet
						.swiper-slide
							.client-wrapper
								.client-quote
									p.lcl.lcl-4 “Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.  Aenean commodo ligula eget dolor. Lorem ipsum aenean massa…”
								.client-info
									.client-img.ov-h
										img.object-cover.fullsize(src="./assets/images/avatar/avatar-default.jpg", alt="CLIENT")
									.client-name
										h5.lcl.lcl-2.cl-main-1 Lorem ipsum dolor
										span.lcl.lcl-4 Lorem ipsum dolor sit amet
				.list-buttons-index-clients
					.index-clients-prev-slider
						.btn.btn-prev-text Sau
					.index-clients-next-slider
						.btn.btn-next-text Trước