.index-clients
	.container
		.container-custom.size-1365px
			.main-title.wow.fadeInLeft(data-wow-delay=".2s")
				h2.cl-main-1.text-uppercase(text-inside-before="our" text-inside-after="clients") khách hàng nói gì?
			.slider-index-clients
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.client-wrapper
								.client-img.ov-h
									img.object-cover(src="./assets/images/avatar/avatar-default.png", alt="CLIENT")
								.client-info
									.client-dl
										.client-quote
											p “Các mẫu thiết kế rất độc đáo và ấn tượng. Dịch vụ chăm sóc khách hàng tuyệt vời, tận tâm. Mình sẽ còn hợp tác lâu dài cùng KPY. Chúc các bạn phát triển mạnh hơn nữa trong thời gian tới”
										.client-name
											span.lcl.lcl-4 
											h5.lcl.lcl-2.cl-main-1 Lorem ipsum dolor
						.swiper-slide
							.client-wrapper
								.client-img.ov-h
									img.object-cover(src="./assets/images/avatar/Intersection.png", alt="CLIENT")
								.client-info
									.client-dl
										.client-quote
											p “Tối rất ấn tượng với đội ngũ Kiến trúc sư, kỹ sư công trình và các bạn nhân viên KPY. Họ mang đến cho tối cảm giác trẻ trung trong thiết kế và tinh thần hoàn thành trách nhiệm cao trong công việc. Tôi hài lòng và tự tin giao các công trình tiếp theo của chúng tôi cho KPY”
										.client-name
											span.lcl.lcl-4 THƯ CÁM ƠN TỪ
											h5.lcl.lcl-2.cl-main-1 KOTRA - BI
				.list-buttons-index-clients
					.index-clients-prev-slider
						.btn.btn-prev-text Sau
					.index-clients-next-slider
						.btn.btn-next-text Trước