.index-contact
	.container
		.container-custom.size-1365px
			.row
				.col-lg-6
					.index-contact-text-wrapper
						h3.cl-main-1 KPY Building Trading Ltd.,
						ul.list-info
							li.item-info
								.icon
									img.svg(src="./assets/icons/location-index-contact.svg", alt="ICON-LOCATION")
								span 30A Đường Hồ Hảo Hớn, Phường Cô Giang, Quận 1, TP.HCM
							li.item-info
								.icon
									img.svg(src="./assets/icons/phone-index-contact.svg", alt="ICON-PHONE")
								span 028 2246 7675
							li.item-info
								.icon
									img.svg(src="./assets/icons/email-index-contact.svg", alt="ICON-EMAIL")
								span kpy.noithat@gmail.com
					.index-contact-map
						iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.659557947367!2d106.69096031526023!3d10.760699262425211!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1168eaa921%3A0x2f61b016a51e9562!2zMzBBIEjhu5MgSOG6o28gSOG7m24sIFBoxrDhu51uZyBDw7QgR2lhbmcsIFF14bqtbiAxLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1598842336683!5m2!1sen!2s" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0") 
				.col-lg-6
					.index-contact-text-wrapper
						h3.cl-main-1 Liên hệ với chúng tôi:
						p.desc Nếu bạn có bất kỳ câu hỏi nào hoặc cần biết thêm về dịch vụ của chúng tôi, vui lòng điền vào mẫu bên dưới. Chúng tôi sẽ liên hệ để giải đáp ngay!
					.index-contact-form-wrapper
						form.form-container(action="#")
							.form-row
								.form-group.col-md-6
									input.form-control(type="text" placeholder="Tên*")
								.form-group.col-md-6
									input.form-control(type="text" placeholder="Số điện thoại")
								.form-group.col-md-6
									input.form-control(type="text" placeholder="Email*")
								.form-group.col-md-6
									input.form-control(type="text" placeholder="Công ty")
								.form-group.col-md-12
									textarea.form-control(name="" placeholder="Lời nhắn")
									button.btn.btn-view-more Liên hệ