section.index-partner
	.container
		.container-custom.size-1365px
			.slider-index-partner
				.swiper-container
					.swiper-wrapper
						-for(var i =1;i<=5;i++)
							.swiper-slide
								.partner-wrapper
									.partner-dl
										.partner-img
											img(src=`./assets/images/avatar/p${i}.png`, alt="partner")