section.news
	.container
		.container-custom.size-1365px
			.news__wrapper
				.main-title.ta-c.wow.fadeInUp(data-wow-delay=".2s")
					h2.cl-main-1.text-uppercase Tin Tức
				.tab-news.active-tab.wow.fadeInUp(data-wow-delay=".2s")
					a(href="news.html").btn.activity-news Tin Tức Hoạt Động
					a(href="#").btn.activity-news Cẩm nang nội thất
				.hot-news__wrapper
					.main-title--small.wow.fadeInUp(data-wow-delay=".2s")
						h2 Tin tức hoạt động nổi bật
					.hot-news--content.row
						-for(var i = 1 ; i <= 4; i++)
							a(href="news-detail.html" data-wow-delay=".2s").bock-item-style-1.col-md-6.col-sm-12.d-block.wow.fadeInUp
								.item__img.ov-h
									img.fullsize.object-cover(src=`./assets/images/news/hot-news-${i}.png`, alt="hotnews")
								.item__desc
									.item__title.lcl.lcl-1 Chúng ta là một gia đình với những niềm vui và hạnh phúc
									.item__subtitle.lcl.lcl-1 Và gia đình chúng ta lớn lên với bao niềm vui và hạnh phúc nhưng mọi thứ bổng sụp đổ vì một lí do là mọi người không còn thương nhau nữa
				.offer__wrapper
					.main-title--small.wow.fadeInDown(data-wow-delay=".2s")
						h2 Đề xuất cho bạn
					.offer--content.row
						-for(var i = 1 ; i <= 6; i++)
							a(href="news-detail.html" data-wow-delay=".2s").wow.fadeInDown.bock-item-style-1.col-md-4.col-sm-6.d-block
								.item__img.ov-h
									img.fullsize.object-cover(src=`./assets/images/news/offer-${i}.png`, alt="offer")
								.item__desc
									.item__title.lcl.lcl-1 Chúng ta là một gia đình với những niềm vui và hạnh phúc
									.item__subtitle.lcl.lcl-1 Và gia đình chúng ta lớn lên với bao niềm vui và hạnh phúc nhưng mọi thứ bổng sụp đổ vì một lí do là mọi người không còn thương nhau nữa	
				include ../_layout/_pagination